<div class="container-fluid">
  <h2 style="color: black; text-align: center;">Great, now add some challenges:</h2>
  <div class="row bg-5" style="text-align:center">
    <%= render 'challenges' %>
  </div>
</div>
